@charset "utf-8";
body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    height: 300px;
    min-width: 0px;
    min-height: 0px;
}

.box1 {
    background-color: #FAFFE8;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    color: #000000;
    text-align: center;
}
.box2 {
    background-color: #FAFFE8;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
}
.box3 {
    background-color: #FAFFE8;
    background-position: 0% 0%;
    display: flex;
}
.box1 h2 {
    margin-top: -3px;
    font-size: 23px;
    background-color: undefined;
}
.box2 p {
    width: 50%;
    margin-top: -15px;
}
